<!DOCTYPE html>
<html>
  <head>
    <%- include layout-header %>
  </head>
  <body>
    <%- include layout-menu %>

    <div class="row center">
      <h5 class="header col s12 light"><%= application %></h5>
    </div>

    <%- include layout-footer %>
  </body>
</html>
